@{
    ViewData["Title"] = "Заблокировано";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Эта учётная запись заблокирована, повторите попытку позднее, пожалуйста.</p>
</header>
