@{
	Layout = null;
}
<form method="post" asp-action="UploadMarketPlaceFile" 
	  enctype="multipart/form-data" class="universal-modal-form">
	<div class="row">
		<dix class="col-md-12">
			<div class="form-group">
				<label class="control-label">Файл</label>
				<sup><i class="fas fa-asterisk" style="font-size: 10px; color: red"></i></sup><br />
				<input type="file" name="MarketPlaceFile" class="form-control" />
			</div>
		</dix>
	</div>
</form>