@{

	Layout = "/Views/SiteHome/_SiteLayout.cshtml";
}

@RenderBody()
<div class="footer-desktop-wrapper">
	<div class="footer-desktop">
		<div class="footer-desktop-description">
			<div class="footer-description-socials">
				<a href="https://vk.com/yamogu_razvitie" class="footer-description-social"><img class="social-footer" src="~/assets/vk.png"></a>
			</div>
			<div class="footer-description-text">
				<h2 class="footer-description-text-heading">Рабочие тетради для детей</h2>
				<p class="footer-description-text-paragraph">Пишите нам: <a href="">info@yamogu.ru</a></p>
				<p class="footer-description-text-paragraph">По вопросам оптового сотрудничества: <a href="">opt@yamogu.ru</a></p>
			</div>
		</div>
		<div class="footer-publishing">
			<p class="footer-publishing-text">© 2021 Издательство <span>«Я МОГУ!»</span></p>
			<p class="footer-publishing-text">Все права защищены</p>
		</div>
		<div class="footer-telephone">
			<p class="footer-telephone-number">+7 (495) 14 200 13</p>
			<p class="footer-telephone-text">по будням с 9 до 17</p>
		</div>
	</div>
	<div class="cookie-alert">
		<p class="cookie-paragraph">Мы используем файлы cookie.</p>
		<p class="cookie-paragraph">Подробнее в <a href="/Agreement">пользовательском соглашении.</a></p>
		<p class="cookie-paragraph">Оставаясь на сайте, вы даете на это свое согласие.</p>
	</div>
</div>
<div class="cookie-alert-mobile">
	<p class="cookie-paragraph">Мы используем файлы cookie.</p>
	<p class="cookie-paragraph">Подробнее в <a href="/Agreement">пользовательском соглашении.</a></p>
	<p class="cookie-paragraph">Оставаясь на сайте, вы даете на это свое согласие.</p>
</div>
<footer class="footer">
	<div class="footer-marketplace-wrapper">
		<div class="footer-marketplace">
			<a class="marketplace-link gtm-watch" data-event-name="wb-notebook" href="https://www.wildberries.ru/brands/ya-mogu" target="_blank">
				<img class="marketplace-img" src='~/assets/wb-mp.svg'>
			</a>
			<a class="marketplace-link gtm-watch" data-event-name="ym-notebook" href="https://market.yandex.ru/brands--ia-mogu/16806979" target="_blank">
				<img class="marketplace-img" src="~/assets/yandex-mp.svg">
			</a>
			<a class="marketplace-link gtm-watch" data-event-name="oz-notebook" href="https://www.ozon.ru/seller/ya-mogu-8023/products/" target="_blank">
				<img class="marketplace-img" src="~/assets/ozon-mp.svg">
			</a>
		</div>
	</div>
</footer>

