@{ 
	Layout = "/Views/GlobalSiteHome/_FooterSiteLayout.cshtml";
	ViewData["Title"] = "About us";
}
<main>
	<div class="welcome-wrapper">
		<img class="welcome-logo welcome-logo--uk" src="~/assets/welcome-logo-uk.png">
		<div class="publishing-description-wrapper">
			<div class="publishing-description">
				<div class="publishing-description-item">
					<h1 class="description-heading">Yamogu</h1>
					<p class="description-text-red">Kids’ book publisher</p>
					<div class="description-main">
						<div class="description-main-text">
							<p class="description-text">
									We believe that one of the key elements in kids’ development is their interest and enjoyment, so we have made each learning activity into a mini adventure!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="presentation-wrapper">
		<section class="presentation">
			<h2 class="presentation-heading">About our Publishing House</h2>
			<p class="presentation-description-text color--blue">The story of our family publishing house begins in 2015, when we became parents and began to think about how to raise kids to be enthusiastic, inquisitive, and happy people.We realized that there was a lack of interesting, high-quality educational activity resources that would support a child's confidence in their abilities, awaken their interest in learning about the world, and develop their thinking and creative imagination. That's why we decided to create such resources ourselves!</p>
			<p class="presentation-description-text color--blue">We have filled our activity books with everything that we ourselves are interested in, so that both kids and adults will enjoy the activities. The books cover space, geography, rare animals and plants, different cultures, and much, much more!</p>
			<p class="presentation-description-text color--blue">It is very important to us that our books are not only interesting, but also are user-friendly. As parents, we understand that when it comes to activities with kids, the details are very important: the type of paper, the binding, the format and size of the books, the style of the illustrations; we have taken all this into account so that kids feel comfortable and happy while exploring our activity books.</p>
			<p class="presentation-description-text color--blue">The name Yamogu means ‘can-do attitude’ in Russian, and it captures the essence of our main goals: to help kids develop confidence in their abilities through play and simple challenges, learn to be excited about their work, and grow up to be successful and creative people.</p>
			<h2 class="presentation-heading">About Our Activity Books</h2>
			<p class="presentation-text">Here's why we're sure that you and your kids will love our products.</p>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">ACTIVITIES WITH A STORYLINE</h2>
					<p class="presentation-description-text">
						If you ask a child what they like to do most, they will probably answer that they just want to play. That's why every task in our activity book is a little adventure where your child is the main character. Save the princess? Go to space? Invent a robot? That's exciting!
					</p>
				</div>
				<img class="presentation-description-img negative-indent" src="~/assets/Activities-with-a-storyline.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">GRADUAL INCREASE IN DIFFICULTY</h2>
					<p class="presentation-description-text">All activities are arranged in order from simple to complex. This helps a child feel confident in their abilities.</p>
					<p class="presentation-description-text">We have also made sure that the activities are suitably complex and age-appropriate.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/gradual-complication.png">
			</div>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">WELL-THOUGHT-OUT FORMAT</h2>
					<p class="presentation-description-text">It is important to us that kids feel comfortable studying with our activity books. That's why we pay attention to all the details in designing our products: the type of paper, the size of the book, the binding, et cetera.</p>
					<p class="presentation-description-text">For example, all the activity books in our series have a spiral binding, helping to prevent kids from being distracted by the next page. This is especially important for young kids. An open activity book with a spiral binding also lies flat and does not bend.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/thoughtful-format.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">LOTS OF STICKERS</h2>
					<p class="presentation-description-text">
							All kids love stickers. That's why our activity books contain lots and lots of them! All the stickers are laminated and can be easily removed and repositioned, which is especially important for young kids. In addition, when a child completes an activity book they will receive a large medal from the sticker page.
					</p>
				</div>
				<img class="presentation-description-img" src="~/assets/many-stickers.png">
			</div>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">ILLUSTRATIONS</h2>
					<p class="presentation-description-text">Our activity books have lots of large, interesting, colorful illustrations. These are not just lovely to look at and easy to understand but also develop a child's artistic taste.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/illustration--uk.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">QUALITY</h2>
					<p class="presentation-description-text">Good quality paper, reusable stickers, and spiral binding — we have thought of every detail to make sure that our books are not just interesting, but also convenient for your child to use. And you will enjoy keeping the activity books as a memento to look back on in the years to come.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/quality--uk.png">
			</div>
		</section>
	</div>
</main>