@{ 
	Layout = "/Views/GlobalSiteHome/_FooterSiteLayout.cshtml";
	ViewData["Title"] = "Über unser Verlagshaus";
}

<main>
	<div class="welcome-wrapper">
		<img class="welcome-logo welcome-logo--uk" src="~/assets/welcome-logo-uk.png">
		<div class="publishing-description-wrapper">
			<div class="publishing-description publishing-description--de">
				<div class="publishing-description-item">
					<h1 class="description-heading">Yamogu</h1>
					<p class="description-text-red description-text-red--de">Kinderbuchverlag</p>
					<div class="description-main">
						<div class="description-main-text">
							<p class="description-text">
								Wir sind davon überzeugt, dass Begeisterung und Spaß zu den wichtigsten Voraussetzungen für die Entwicklung von Kleinkindern gehören! Jede Lerneinheit sollte einer Spieleinheit gleichen!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="presentation-wrapper">
		<section class="presentation">
			<h2 class="presentation-heading">Über unser Verlagshaus</h2>
			<p class="presentation-description-text color--blue">Die Geschichte unseres Familienverlages begann im Jahr 2015, als wir selber Eltern wurden und über die Frage nachdachten, wie wir unsere Kinder zu begeisterten, wissbegierigen und glücklichen Menschen erziehen können. Bei unseren Recherchen haben wir festgestellt, dass es an interessanten und hochwertigen Lernhilfen für den Unterricht mit Kindern mangelt, die das Vertrauen des Kindes in seine Fähigkeiten stärken, die Neugierde auf die Welt wecken sowie das logische Denken und die kreative Vorstellungskraft entfalten. Deshalb haben wir uns entschlossen, solche Lernhilfen selbst zu erstellen!</p>
			<p class="presentation-description-text color--blue">Wir haben uns bemüht, unsere Übungsbücher mit solchen Inhalten zu füllen, die uns selbst interessieren. So befassen wir uns unter anderem mit dem Weltraum, der Geografie, mit seltenen Tieren und Pflanzen, verschiedenen Kulturen und vielem mehr! Auf diese Weise können nicht nur Kinder, sondern auch Erwachsene die Arbeit mit den Übungsbüchern genießen.</p>
			<p class="presentation-description-text color--blue">Es ist für uns sehr wichtig, dass unsere Produkte nicht nur interessant, sondern auch praktisch in der Handhabung sind. Aus eigener Erfahrung wissen wir, dass es beim Unterricht mit Kindern auf jedes noch so kleine Detail ankommt: die Art des Papiers, die Bindung, das Format und die Größe der Bücher, der Stil der Illustrationen... Wir haben versucht, all dies zu berücksichtigen, damit sich Ihr Kind beim gemeinsamen Arbeiten wirklich wohlfühlt und entspannt lernen kann.</p>
			<p class="presentation-description-text color--blue">Der Name Yamogu bedeutet im Russischen „Ich kann‘s“ und steht für die Essenz unserer Mission: Kindern dabei zu helfen, Vertrauen in ihre Fähigkeiten zu entwickeln, mit Freude und Begeisterung zu arbeiten und zu erfolgreichen und kreativen Menschen heranzuwachsen.</p>
			<h2 class="presentation-heading">Über unsere Übungsbücher</h2>
			<p class="presentation-text">Um Sie und Ihre an unseren Büchern zu begeistern, haben wir auf folgende besonders geachtet:</p>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">AUFGABEN MIT GESCHICHTEN</h2>
					<p class="presentation-description-text">
						Was lieben alle Kinder? Spielen natürlich! Darum besteht jede Aufgabe in unseren Übungsbüchern aus einem kleinen Abenteuer – und Ihr Kind spielt darin die Hauptrolle! Gegen einen Drachen kämpfen? Ins Weltall fliegen? Einen Roboter zusammenbauen? Das macht Spaß!
					</p>
				</div>
				<img class="presentation-description-img negative-indent" src="~/assets/Activities-with-a-storyline.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">SCHRITTWEISE STEIGERUNG DES SCHWIERIGKEITSGRADES</h2>
					<p class="presentation-description-text">Der Schwierigkeitsgrad der Aufgaben steigt schrittweise an. Dadurch wird die Entwicklung des Selbstbewusstseins positiv gefördert.</p>
					<p class="presentation-description-text">Außerdem achten wir sorgfältig darauf, die Komplexität der Aufgaben auf das jeweilige Alter der Kinder abzustimmen.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/gradual-complication.png">
			</div>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">SMARTES FORMAT</h2>
					<p class="presentation-description-text">Eines unserer wichtigsten Anliegen besteht darin, die Übungsbücher einfach in Handhabung zu konzipieren. So achten wir bei der Produktentwicklung auf jedes Detail: Papiersorte, Format, Bindung...</p>
					<p class="presentation-description-text">Zum Beispiel sind alle Übungsbücher unserer Serie mit einer Spiralbindung versehen. Die Spirale dient dazu, die Aufmerksamkeit der Kinder voll und ganz auf die aufgeschlagene Seite zu lenken. Dies ist für Kleinkinder in diesem Alter besonders wichtig. Außerdem kann ein Ringbuch offen auf den Tisch gelegt werden, ohne dass die Nebenseite sich hebt. Sehr praktisch!</p>
				</div>
				<img class="presentation-description-img" src="~/assets/thoughtful-format.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">VIELE STICKER</h2>
					<p class="presentation-description-text">
							Alle Kinder lieben Sticker! Deshalb beinhalten unsere Bücher nicht nur viele Sticker, sondern sehr viele! Die Sticker sind mit einer strapazierfähigen Laminierung versehen, was besonders bei Kleinkindern besonders wichtig ist. Sitzt der Sticker etwas schief? Kein Grund zur Sorge! Das lässt sich im Handumdrehen korrigieren.Und zum Abschluss kann sich Ihr Kind über eine große Medaille freuen.

					</p>
				</div>
				<img class="presentation-description-img" src="~/assets/many-stickers.png">
			</div>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">ILLUSTRATIONEN</h2>
					<p class="presentation-description-text">Unsere Übungsbücher enthalten viele große, abwechslungsreiche und kunterbunte Illustrationen. Sie erwecken Aufmerksamkeit und stimulieren den künstlerischen Sinn der Kinder. Jedoch ist es uns besonders wichtig, dass die Bilder nicht nur hübsch, sondern auch verständlich sind.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/illustration--uk.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">QUALITÄT</h2>
					<p class="presentation-description-text">Hochwertiges Papier, Mehrfach-Sticker, Spiralbindung – wir haben an alles gedacht. Denn die Arbeit mit unseren Übungsbüchern soll nicht nur interessant, sondern auch praktisch in der Handhabung sein. Und Sie erhalten ein schönes Andenken an die Entwicklung Ihres Kindes.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/quality--uk.png">
			</div>
		</section>
	</div>
</main>