@{ 
	Layout = "_FooterSiteLayout";
	ViewData["Title"] = "Об издательстве";
}
<main>
	<div class="welcome-wrapper">
		<img class="welcome-logo" src="~/assets/YaMogu-welcom-logo.png">
		<div class="publishing-description-wrapper">
			<div class="publishing-description">
				<div class="publishing-description-item">
					<h1 class="description-heading">я могу!</h1>
					<p class="description-text-red">детское издательство</p>
					<div class="description-main">
						<div class="description-main-text">
							<p class="description-text">
								Мы верим, что главное в развитии детей – это интерес и удовольствие! Пусть каждое занятие будет праздником!

							</p>
						</div>
						<div class="publishing-description-socials">
							<a href="https://vk.com/yamogu_razvitie" class="publishing-description-social"><img class="social-avatar" src="~/assets/vk.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="presentation-wrapper">
		<section class="presentation">
			<h2 class="presentation-heading">О нашем издательстве</h2>
			<p class="presentation-description-text">История нашего семейного издательства начинается в 2015 году, когда мы стали родителями и задумались о том, как вырастить детей увлечёнными, любознательными и счастливыми людьми. </p>
			<p class="presentation-description-text">Мы поняли, что для занятий с детьми не хватает интересных и качественных развивающих пособий, которые будут поддерживать уверенность ребёнка в своих силах, пробуждать интерес к познанию мира, развивать мышление и творческое воображение. Поэтому мы решили создать такие пособия сами!</p>
			<p class="presentation-description-text">Мы постарались наполнить тетради всем, что интересно нам самим. Мы будем обсуждать космос, географию, редких животных и растения, разные культуры и многое другое! Поэтому удовольствие от занятий получат не только дети, но и взрослые. </p>
			<p class="presentation-description-text">Для нас очень важно, чтобы наша продукция была не только интересной, но и удобной. Как родители, мы знаем, насколько важны для занятий с малышами все детали: вид бумаги, переплёт, формат и размер пособий, стилистика иллюстраций… Мы постарались учесть всё, чтобы вашему ребёнку было по-настоящему удобно и приятно заниматься.</p>
			<p class="presentation-description-text">Девиз «Я могу!» отражает нашу задачу: помочь детям обрести уверенность в своих силах, научиться работать с азартом и удовольствием, вырасти успешными и творческими людьми.</p>
			<h2 class="presentation-heading">О наших пособиях</h2>
			<p class="presentation-text">Вот почему мы уверены,что наши тетради понравятся вам и&nbsp;вашим детям:</p>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">ЗАДАНИЯ С ИСТОРИЕЙ</h2>
					<p class="presentation-description-text">
						Что любят делать все дети? Конечно, играть! Поэтому каждое задание в наших тетрадях – это маленькое приключение, в котором главный герой – ваш ребёнок! 
					</p>
					<p class="presentation-description-text">Спасти принцессу? Полететь в космос? Изобрести робота? Это интересно!</p>
				</div>
				<img class="presentation-description-img negative-indent" src="~/assets/about-our-benefits.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">ПОСТЕПЕННОЕ УСЛОЖНЕНИЕ</h2>
					<p class="presentation-description-text">Задания в тетрадях расположены в порядке от простого к сложному. Это помогает ребёнку почувствовать уверенность в своих силах.</p>
					<p class="presentation-description-text">А ещё мы проверили, что задания сбалансированы по сложности и подходят детям по возрасту.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/gradual-complication.png">
			</div>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">ПРОДУМАННЫЙ ФОРМАТ</h2>
					<p class="presentation-description-text">
						Нам важно, чтобы ребёнку было удобно заниматься по нашим тетрадям и книжкам. Поэтому при разработке продукции мы обращаем внимание на все детали: вид бумаги, размер пособия, переплёт...

					</p>
					<p class="presentation-description-text">Например, все рабочие тетради нашей серии имеют переплёт на пружине. Она нужна для того, чтобы ребёнок не отвлекался на следующую страницу. Для малышей это очень важно. А ещё открытая тетрадь с пружиной лежит ровно и не изгибается. Это удобно!</p>
				</div>
				<img class="presentation-description-img" src="~/assets/thoughtful-format.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">МНОГО НАКЛЕЕК</h2>
					<p class="presentation-description-text">
						Все дети любят наклейки. Поэтому в наших тетрадях их не просто много, а ОЧЕНЬ много! Наклейки покрыты прочной ламинацией, что особенно важно для малышей. Наклеил криво? Не огорчайся! Это легко исправить. 
					</p>
					<p class="presentation-description-text">А ещё в конце работы ребёнка ждёт большая наклейка-медаль.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/many-stickers.png">
			</div>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">ИЛЛЮСТРАЦИИ</h2>
					<p class="presentation-description-text">В наших тетрадях очень много больших, интересных и красочных иллюстраций. Они привлекают внимание и развивают художественный вкус ребёнка. А ещё нам важно, чтобы картинки были не только красивыми, но и понятными.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/illustrations.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">КАЧЕСТВО</h2>
					<p class="presentation-description-text">Отличная бумага, многоразовые наклейки, пружина – мы продумали все детали, чтобы ребёнку было не только интересно, но и удобно. А вам будет приятно сохранить тетради на память.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/quality.png">
			</div>
		</section>
	</div>
</main>