@{ 
	Layout = "/Views/GlobalSiteHome/_FooterSiteLayout.cshtml";
	ViewData["Title"] = "About us";
}
<main>
	<div class="welcome-wrapper">
		<img class="welcome-logo welcome-logo--uk" src="~/assets/welcome-logo-uk.png">
		<div class="publishing-description-wrapper">
			<div class="publishing-description publishing-description--es">
				<div class="publishing-description-item">
					<h1 class="description-heading">Yamogu</h1>
					<p class="description-text-red description-text-red--es">Editorial de libros infantiles</p>
					<div class="description-main">
						<div class="description-main-text">
							<p class="description-text">
								Porque nos consta que dos de los elementos clave en el desarrollo de los niños y las niñas son el interés y la diversión, hemos creado cuadernos donde cada actividad didáctica en una pequeña aventura.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="presentation-wrapper">
		<section class="presentation">
			<h2 class="presentation-heading">Sobre la Editorial</h2>
			<p class="presentation-description-text color--blue">La historia de nuestra editorial comienza en 2015, cuando al convertirnos en padres y madres, empezamos a pensar en la manera de criar a nuestros hijos e hijas para que se desarrollasen en su plenitud como personas entusiastas, curiosas y felices. Enseguida nos dimos cuenta de la falta de recursos educativos que fueran interesantes y de alta calidad y que, además, reforzasen la confianza de los niños y las niñas en sus habilidades, despertasen su interés por aprender acerca del mundo y desarrollasen su imaginación y pensamiento creativos. Así pues, nos pusimos manos a la obra para crear esos recursos nosotros mismos.</p>
			<p class="presentation-description-text color--blue">Hemos llenado nuestros cuadernos de actividades con todo aquello en lo que nosotros mismos estamos interesados, para que tanto los niños y las niñas como los adultos disfruten de las actividades. Los cuadernos hablan del espacio, de geografía, de todo tipo de animales y plantas, de diferentes culturas y ¡mucho, mucho más!</p>
			<p class="presentation-description-text color--blue">Sin embargo, es muy importante para nosotros que nuestros cuadernos no solo sean interesantes, sino también fáciles de usar. Como progenitores, entendemos que cuando se trata de actividades para niños y niñas, los detalles son muy importantes: el tipo de papel, la encuadernación, el formato y el tamaño de los cuadernos, el estilo de las ilustraciones… Hemos tenido todo esto en cuenta para que los peques se sientan muy cómodos y felices mientras exploran nuestros cuadernos de actividades. </p>
			<p class="presentation-description-text color--blue">El nombre de «Yamogu» viene de una expresión rusa que significa «yo puedo» y que refleja una actitud positiva ante los retos de la vida y, a la vez, capta la esencia de nuestros objetivos principales: ayudar a los niños y las niñas a desarrollar confianza en sus habilidades a través del juego y desafíos simples, a aprender a entusiasmarse con lo que hacen y a convertirse en personas creativas y exitosas.</p>
			<h2 class="presentation-heading">Sobre nuestros cuadernos de actividades</h2>
			<p class="presentation-text presentation-text--es">Tenemos plena confianza en que nuestros productos os encantarán tanto a ti como a tu hijo o hija. Nuestras razones no dejan lugar a dudas:</p>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">CADA ACTIVIDAD, UNA HISTORIA</h2>
					<p class="presentation-description-text">
						Si le preguntas a un niño o una niña qué es lo que más le gusta hacer, probablemente te responda que jugar. Por ello hemos convertido cada tarea de nuestros cuadernos en una pequeña aventura donde tu hijo o hija es el personaje principal. ¡Y todas son emocionantes, como salvar a la princesa, viajar al espacio, crear un robot!
					</p>
				</div>
				<img class="presentation-description-img negative-indent" src="~/assets/Activities-with-a-storyline.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">INCREMENTO GRADUAL DE LA DIFICULTAD</h2>
					<p class="presentation-description-text">Todas las actividades están ordenadas de más simples a más complejas. Esto contribuye a que tu hijo o hija vaya ganando confianza en sus habilidades.</p>
					<p class="presentation-description-text">Además, nos hemos encargado de que las actividades tengan una complejidad adecuada a la edad de tu hijo o hija.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/gradual-complication.png">
			</div>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">UN FORMATO BIEN MEDITADO</h2>
					<p class="presentation-description-text">La comodidad a la hora de ponerse a hacer actividades es crucial para niños y niñas pequeños. Por ello, prestamos mucha atención a todos los detalles al diseñar nuestros productos: el tipo de papel, el tamaño del libro, la encuadernación…</p>
					<p class="presentation-description-text">Por ejemplo, todos los cuadernos de nuestra serie presentan una encuadernación en espiral para prevenir que puedan distraerse con la página siguiente. Esto es especialmente útil para los niños y las niñas de más corta edad. Además, el formato es cómodo y evita que el cuaderno se doble.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/thoughtful-format.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">UN MONTÓN DE PEGATINAS</h2>
					<p class="presentation-description-text">
							A todos los niños y las niñas les encantan las pegatinas. Por eso ¡nuestros cuadernos contienen un montón de ellas! Todas están plastificadas y pueden despegarse fácilmente y volverse a pegar, lo cual es especialmente conveniente para los más pequeños y pequeñas. Además, cuando complete uno de los libros de actividades, ¡recibirá una gran medalla de la página de pegatinas!
					</p>
				</div>
				<img class="presentation-description-img" src="~/assets/many-stickers.png">
			</div>
			<div class="presentation-description">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">ILUSTRACIONES</h2>
					<p class="presentation-description-text">Nuestros cuadernos de actividades están repletos de ilustraciones de gran tamaño, interesantes y coloridas. No solo son agradables a la vista y fáciles de interpretar, sino que también contribuyen a desarrollar el gusto artístico de los niños y las niñas.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/illustration--uk.png">
			</div>
			<div class="presentation-description reverse">
				<div class="presentation-description-item">
					<h2 class="presentation-description-heading">CALIDAD</h2>
					<p class="presentation-description-text">Papel de buena calidad, pegatinas reutilizables, encuadernación en espiral… Hemos pensado en cada detalle para asegurarnos de que nuestros cuadernos no solo sean interesantes, sino también adecuados para que tu hijo o hija los manipule. Además, tú podrás guardar los cuadernos de actividades como recuerdo para disfrutar de ellos unos años más tarde.</p>
				</div>
				<img class="presentation-description-img" src="~/assets/quality--uk.png">
			</div>
		</section>
	</div>
</main>