@model ICan.Common.Models.Opt.ProductTagModel

@{  
	Layout = null;
	var canAddMore = bool.TryParse(ViewData["CanAddMore"]?.ToString(), out var raw) && raw;
}

<form asp-action="AddTag" class="universal-modal-form">
	<div class="row">
		<div class="col-md-12">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@Html.HiddenFor(Model => Model.ProductId)
			@if (canAddMore)
			{
				<div class="form-group">
					<label asp-for="TagId" class="control-label"></label>
					<sup><i class="fas fa-asterisk" style="font-size: 10px; color: red"></i></sup><br />
					@Html.DropDownListFor(model => model.TagId, (IEnumerable<SelectListItem>)ViewData["TagId"],
										  null, new { @class = "form-control", style = "width:300px", id = "tagId" })
				</div>
			}
			else
			{
				<span>Нет доступных тегов</span>
			}
			 
		</div>
	</div>

</form>