@{
	Layout = "_FooterSiteLayout";
	ViewData["Title"] = "Контакты";
}
<main>
	<div class="contacts-wrapper">
		<div class="map-wrapper">
			<div class="map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Adb0ceaf2ffbd94ae4ccfd59278abcca4f0bc4a73cba9662904485df4b89a1946&amp;source=constructor"
						class="map-iframe" frameborder="0"></iframe>
			</div>
		</div>
		<div class="contacts-description-wrapper">
			<div class="contacts-description">
				<div class="address">
					<p class="address-text">Адрес нашего офиса:</p>
					<p class="address-text indent-bottom bold-weight">Посёлок Совхоза им. Ленина, стр.1</p>
					<a class="address-text" href="tel:+74951420013">Телефон: <span class="bold-weight">+7 (495) 14 200 13</span></a>
					<p class="address-text indent">Мы работаем в будни <span class="bold-weight">с 9 до 17</span></p>
					<p class="address-text indent">По любым вопросам пишите нам на <a class="bold-weight gtm-watch gtm-watch-copy" data-event-name="email-info-copy" href="mailto: info@yamogu.ru">info@yamogu.ru</a></p>
					<p class="address-text indent">По вопросам оптового сотрудничества пишите на <a class="bold-weight gtm-watch gtm-watch-copy" data-event-name="email-opt-copy" href="mailto: opt@yamogu.ru">opt@yamogu.ru</a></p>
				</div>
				<div class="contacts-description-socials">
					<a href="https://vk.com/yamogu_razvitie" class="contacts-description-social"><img class="contacts-social" src="~/assets/vk.png"></a>
				</div>
			</div>
		</div>
	</div>

</main>