@using Microsoft.AspNetCore.Mvc.Localization
@{
	Layout = "/Views/GlobalSiteHome/_FooterSiteLayout.cshtml";
	ViewData["Title"] = "Impressum und Kontakt" ;
}
<main>
	<div class="contacts-wrapper">
		<div class="map-wrapper">
			<div class="map">
				<iframe src="https://yandex.ru/map-widget/v1/-/CCU46ThawC?lang=en_US" 
						class="map-iframe" frameborder="0"></iframe>
			</div>
		</div>
		<div class="contacts-description-wrapper contacts-description-wrapper--global">
			<div class="contacts-description contacts-description--global contacts-description--de">
				<div class="address">
					<p class="address-text address-text--global">Kontakt:<br />Verlag <span class="address-tex--color-red">Yamogu</span></p>
					<p class="address-text address-text--global indent adress-large">Allgemeine Anfragen: <a class="bold-weight" href='mailto: info@yamogu.de'>info@yamogu.de</a></p>
					<p class="address-text address-text--global indent">YAMOGU LTD</p>
					<p class="address-text address-text--global">Kemp House</p>
					<p class="address-text address-text--global">160 City Road</p>
					<p class="address-text address-text--global">London</p>
					<p class="address-text address-text--global">United Kingdom</p>
					<p class="address-text address-text--global">EC1V 2NX</p>
					<img class="postman postman--de" src="~/assets/postman.png">
				</div>

			</div>
		</div>
	</div>
	<div class="impressum-wrapper">
		<div class="impressum">
				<h2 class="impressum-heading">Impressum</h2>
				<p class="address-text address-text--global indent">YAMOGU LTD</p>
				<p class="address-text address-text--global">Kemp House</p>
				<p class="address-text address-text--global">160 City Road</p>
				<p class="address-text address-text--global">United Kingdom</p>
				<p class="address-text address-text--global">EC1V 2NX</p>
				<h3 class="impressum-heading-section">Vertretungsberechtigte Geschäftsführerin:</h2>
				<p class="impressum-text">Elena Shevchenko</p>
				<h3 class="impressum-heading-section">Kontakt</h2>
				<p class="impressum-text">Tel: +749514-200-13</p>
				<p class="impressum-text">E-Mail:<a class="bold-weight link-indent" href='mailto: info@yamogu.uk'>info@yamogu.uk</a></p>
				<p class="impressum-text">Webseite:<a class="bold-weight link-indent" href='mailto: info@yamogu.uk'>www.yamogu.uk</a></p>
				<h3 class="impressum-heading-section">Handelsregistereintrag</h2>
				<p class="impressum-text">Registergericht: Cardiff, Wales</p>
				<p class="impressum-text">Registernummer: 13175456</p>
				<p class="impressum-text impressum-indent">Umsatzsteuer-Ident.-Nr.</p>
				<p class="impressum-text">USt.-Id-Nr. gem. §27a UStG. DE 000 000 000 (In progress)</p>
				<p class="impressum-text impressum-text--large impressum-indent">Inhaltlich verantwortlich nach § 55 Abs.2 RStV:</p>
				<p class="impressum-text">YAMOGU LTD</p>
				<h3 class="impressum-heading-section">Nutzungsrechte</h2>
				<p class="impressum-text impressum-text--large">Alle Rechte vorbehalten.</p>
				<p class="impressum-text impressum-text--large">Die Urheberrechte dieser Webseite liegen vollständig bei der YAMOGU LTD</p>
				<p class="impressum-text impressum-text--large impressum-indent">Verweis auf Streitschlichtungsbehörde: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit. Die Plattform finden Sie unter <a class="bold-weight" href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a> Bei Beschwerden melden Sie sich bitte unter <a class="bold-weight" href='mailto: info@yamogu.uk'>info@yamogu.uk</a>.</p>
					
		</div>
	</div>
</main>