@{ 
	Layout = "_FooterSiteLayout";
	ViewData["Title"] = "Ошибка";
} 

<main class="main-error">
	<div class="error">
		<img class="error-img" src="~/assets/error-witcher.svg"/>
		<div class="error-text">
			<h2 class="error-text--heading">Ой,</h2>
			<p class="error-text--paragraph">похоже такой страницы нет...</p>
			<p class="error-text--link">Зато есть наш <a href="/">каталог</a></p>
			<p class="error-text--http">HTTP ERROR 404</p>
		</div>
	</div>
</main>