@{ 
	Layout = "_FooterSiteLayout";
	ViewData["Title"] = "Издательство Я Могу";
	bool isMobile = bool.TryParse(ViewData["IsMobileBrowser"]?.ToString(),
			out var parsed) && parsed;
}

@model IEnumerable<ICan.Common.Models.Opt.SiteProductModel>
 

<main class="main">
	<div class="container-fluid">
		<div class="row-wrapper">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-xs-6 col-sm-4 col-lg-3 catalog-item" itemscope itemtype="https://schema.org/PriceSpecification">
						<a class="catalog-item-inner" href="/Notebook/@(item.ProductId)">
							@{
								var src = (isMobile
											&& !string.IsNullOrWhiteSpace(item.MobileCoverCatalogImageFullPath))
											? item.MobileCoverCatalogImageFullPath
											: item.CoverCatalogImageFullPath;
							}  
							<img class="catalog-item-img"
								 itemprop="image"
								 alt="@item.Name"
								 src="@src" />
						 
							<p class="catalog-item-price" itemprop="price"><span>от</span> @item.DisplayPrice</p>
						</a>
					</div>
				}
			</div>
		</div>
	</div>
</main>