@using ICan.Common.Models.Enums;
@model ICan.Common.Models.Opt.MaterialModel

@{ 
	var actionType = ActionType.Edition;
	ActionType.TryParse(ViewData["ActionType"]?.ToString(), out actionType);

	var title = "Создание материала";
	ViewData["Title"] = title; 
}

<h2>@title</h2>

<hr />
<form asp-action="Create" method="post">
	<div class="row">
		<div class="col-md-12">


			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Theme" class="control-label"></label>
				<sup><i class="fas fa-asterisk" style="font-size: 10px; color: red"></i></sup>
				<input asp-for="Theme" class="form-control" />
				<span asp-validation-for="Theme" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Date" class="control-label"></label>
				<sup><i class="fas fa-asterisk" style="font-size: 10px; color: red"></i></sup>
				<input asp-for="Date" class="form-control" type="date" />
				<span asp-validation-for="Date" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="IsActive" class="control-label"></label>
				<input asp-for="IsActive" class="form-control" />
				<span asp-validation-for="IsActive" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Content" class="control-label"></label>
				<textarea class="material-content" id="materialContent"
						  rows="15"
						  name="Content">@Model.Content</textarea>
			</div>
		</div>

		<div class="form-group">
			<input type="submit" value="Создать" class="btn btn-default" />
		</div>
	</div>
</form>

<script src="~/lib/tinymce/tinymce.min.js"></script>
<script src="~/js/material.js" asp-append-version="true"></script>

<div>
<a asp-action="List">Назад к списку</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
