@model ICan.Common.Models.Opt.PrintOrderPaymentModel
@{
	var printOrderId = int.Parse(ViewData["PrintOrderId"].ToString());
}

<div class="modal" tabindex="-1" role="dialog" id="addPrintOrderPayment">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Добавление платежа</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div  class="add-print-order-payment-container">
					<input id="PrintOrderId" type="hidden" value="@printOrderId" />
					<input id="Date" type="date"
						   class="form-control" required 
						   placeholder="Дата платежа" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
					<input id="Amount" class="form-control"
						   required  
						   type="number" step="0.01" placeholder="Сумма платежа" min="0.01" />
				</div>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<input type="button" value="Сохранить" class="btn btn-default print-order-payment-save" />
				</div>
				<div class="form-group">
					<input type="reset" value="Отменить" data-dismiss="modal" class="btn btn-outline-dark" />
				</div>
			</div>
		</div>
	</div>
</div>
