<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="C:\\inetpub\\vhosts\\u0553469.plsk.regruhosting.ru\\nLogsJobs\\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDirectory" value="C:\\inetpub\\vhosts\\u0553469.plsk.regruhosting.ru\\nLogsJobs" />
	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  deleteOldFileOnStartup="true"-->
		<target xsi:type="File" name="allfile" fileName="${logDirectory}\\nlog-all-${shortdate}.log"
                    					maxArchiveDays="10"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	 	
		<target xsi:type="File" name="errorFile" fileName="${logDirectory}\\nlog-error-${shortdate}.log"
					maxArchiveDays="10"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
                <target xsi:type="File" name="warnFile" fileName="${logDirectory}\nlog-warn-${shortdate}.log"
						maxArchiveDays="10"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	
 		<target name="hangfire" xsi:type="File" fileName="${logDirectory}\\nlog-hangfire-${shortdate}.log"
					maxArchiveDays="10"
           		 layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Info" writeTo="allfile" />
	        <logger name="*" level="Warning" writeTo="warnFile" />
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Error" writeTo="errorFile"   />

		<logger name="Hangfire.*" minlevel="Info" writeTo="hangfire" final="true" />
	</rules>
</nlog>