@model AuthModel
@{ 
    ViewData["Title"] = "Авторизация";
}

<span class="alert-danger">@TempData["ErrorMessage"]</span>

<div class="row justify-content-center" style="margin-top:200px">
    <div class="col-md-4">
        <section>
            <form asp-controller="Auth" asp-action="Login"  method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"  type="password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>              
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </form>
        </section>
    </div>
</div>
