@using ICan.Common.Models.Enums
@model ICan.Common.Models.Opt.ImageModel

@{
    Layout = null;
}

<form asp-action="AddImage" class="universal-modal-form" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <sup><i class="fas fa-asterisk" style="font-size: 10px; color: red"></i></sup><br />
                <input type="file" name="image" class="form-control image-upload" required
                       value="Выберите файл" />
            </div>
        </div>
    </div>
</form>