<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<title>Я Могу</title>


	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-grid.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-reboot.css">

	<link rel="stylesheet" href="/css/site.css?v=Q5feGaYWB3-Q2JYXWV3cjjzxnAxHakSMV2ZjSaOVQXo">
	<link rel="stylesheet" href="/css/fontawesome/css/fontawesome-all.min.css">



	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js" crossorigin="anonymous">
	</script>
	<script>(window.jQuery||document.write("\u003Cscript src=\u0022\/lib\/jquery\/dist\/jquery.min.js\u0022 crossorigin=\u0022anonymous\u0022\u003E\u003C\/script\u003E"));</script>
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous">
	</script>
	<script>(window.jQuery && window.jQuery.fn && window.jQuery.fn.modal||document.write("\u003Cscript src=\u0022\/lib\/bootstrap\/dist\/js\/bootstrap.min.js\u0022 crossorigin=\u0022anonymous\u0022\u003E\u003C\/script\u003E"));</script>
	<script src="/js/site.js"></script>

</head>

<body>
	<div class="container body-content">

		<h1 class="text-danger">Ошибка.</h1>
		<h2 class="text-danger">Внимание! Доступ запрещён. </h2>

		<p>
			Если вы считаете, что доступ всё же необходим, напишите по адресу  <a href="mailto:opt@yamogu.ru">opt@yamogu.ru</a>
		</p>
		<hr>
	 
	</div>
</body>
</html>