<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
     <aspNetCore processPath=".\ICan.exe" stdoutLogEnabled="true" 
								 requestTimeout="00:25:00" 
								 stdoutLogFile="C:\code\ICan\Logs\stdout\stdout" startupTimeLimit="360"
								  forwardWindowsAuthToken="false" 
								 hostingModel="inprocess">
       <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
			 <handlerSettings>
				 <handlerSetting name="debugFile" value="..\logs\aspnetcore-debug.log"/>
				 <handlerSetting name="debugLevel" value="FILE,TRACE"/>
			 </handlerSettings>
    </aspNetCore>
  </system.webServer>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" uiCulture="ru" />
  </system.web>
</configuration>  