@model IEnumerable<ICan.Common.Models.Opt.OrderModel>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
	ViewData["Title"] = "Заказы";
	bool.TryParse(ViewData["IsMobileBrowser"]?.ToString(), out bool isMobileBrowser);

	bool.TryParse(ViewData["IsAdmin"]?.ToString(), out var isAdmin);
	bool.TryParse(ViewData["IsStoreKeeper"]?.ToString(), out var isStoreKeeper);
	bool.TryParse(ViewData["IsOperator"]?.ToString(), out var isOperator);
	bool.TryParse(ViewData["IsClient"]?.ToString(), out var isClient);
	var token = antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h2>Заказы</h2>
<script src="~/js/orderView.js" asp-append-version="true"></script>
 

<span class="text-success">@TempData["StatusMessage"]</span>
<span class="alert-danger">@TempData["ErrorMessage"]</span>

<table class="table table-responsive-md table-striped order-table"
	   data-token="@token"
	   data-side-pagination="server"
	   data-pagination="true"
	   data-page-size="50"
	   data-page-list="[50, 100, 200, 500]"
	   data-search="true"
	   data-show-search-clear-button="true"
	   data-filter-control="true"
	   data-remember-order="true"
	   data-checkbox-header="false"
	   data-url="@Url.Action("IndexData","Order")"
	   id="orderTable">
</table>
