@model IEnumerable<ICan.Common.Models.Opt.ReportModel>

@{
    var title = "Загруженные УПД";
    ViewData["Title"] = @title;
}

<h2> @title</h2>

<table class="table table-responsive-md report-table"
       data-side-pagination="server"
       data-pagination="true"
       data-page-size="1000"
       data-page-list="[1000, 2000]"
       data-search="true"
       data-show-search-clear-button="true"
       data-filter-control="true"
   @*    data-remember-report="true"*@
       data-checkbox-header="false"
       data-url="@Url.Action("GetUPDReports","Report")"
       id="reportTable">
</table>

<script src="~/js/reportView.js" asp-append-version="true"></script>
